@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    background-color: rgb(119, 226, 125);
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: auto;
}
#name, #email, #number, #dropdown, #comment {
  display: block;
  width: 50%;
  height: 2.375rem;
  padding: 0.25rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
#description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  
 @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  #checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
#name, #email, #number, #dropdown, #comment,
   #title, #description{
     text-align: center;
     margin-right: auto;
     margin-left: auto;
  }
  #submit {
    display: block;
    width: 50%;
    padding: 0.75rem;
    background: rgb(235, 77, 77);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }
  .fields {
    text-align: center;
     margin-right: auto;
     margin-left: auto;
  }
